version: "3"

services:
  mongo:
    image: mongo:6
    container_name: mongo
    volumes:
      - mongo-data:/data/db

  backend:
    image: manojkumar2026/backend:latest
    container_name: backend
    ports:
      - "5000:5000"
    depends_on:
      - mongo

  frontend:
    image: manojkumar2026/frontend:latest
    container_name: frontend
    ports:
      - "8080:80"
    depends_on:
      - backend

volumes:
  mongo-data:
